body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0px 50px;
  background-color: #EFEEEA;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

h1{
  font-size: 5rem;
}

.logo {
  width: 200px;

}

.creative {
  color: #161179;
}

footer {
  color: #0C0950;
  text-align: right;
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
}
.left {
  float: left;
}

.right {
  float: right;
}

@media (max-width: 680px){
  .logo {
      width: 125;
  }

  .head {
      text-align: center;
      font-size: 3.5rem;
  }

  .card {
      width: 100%;
      display: block;
      margin-bottom: 30px;
      text-align: justify;
  }

  .card-title {
      text-align: center;
  }

  .tile-image{
      margin-bottom: 10px;
      width: 100%;
      display: inline;
      object-fit: cover;
  }
}